$white: #fff !default;
$gray-100: #fdfffc !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #cfd2cd !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #011627 !default;
$black: #000 !default;

$blue: #457b9d !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #e71d36 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #8cdf3a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-400 !default;
$success: $green !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$info: $cyan !default;

// font-family
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Aria,
"noto Sans",
sans-serif,
"App Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas !default;
$font-family-base: $font-family-sans-serif !default;

// font-size
$font-size-base: 1rem !default;
$font-size-large: $font-size-base * 1.25 !default;
$font-size-small: $font-size-base * .875 !default;

// font-weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// line-height
$line-height-base: 1.5 !default;
$line-height-large: 2 !default;
$line-height-small: 1.25 !default;

// title
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// link
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// body
$body-bg: $white !default;
$body-color: $gray-800 !default;
$body-text-align: null !default;

// border
$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: .25rem !default;
$border-radius-large: .3rem !default;
$border-radius-small: .2rem !default;




// button
$btn-font-weight: 400;
$btn-padding-y: .375rem !default;
$btn-padding-x: .75rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;

// small button
$btn-padding-y-small: .25rem !default;
$btn-padding-x-small: .5rem !default;
$btn-font-size-small: $font-size-small !default;

// large button
$btn-padding-y-large: .5rem !default;
$btn-padding-x-large: 1rem !default;
$btn-font-size-large: $font-size-large !default;

// border
$btn-border-width: $border-width !default;

//other
$btn-box-shadow: inset 0 1px 0 rgba($white, .15) !default;
$btn-disabled-opacity: .65 !default;

//link button
$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-link-disabled-color: $gray-600 !default;

// radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-large: $border-radius-large !default;
$btn-border-radius-small: $border-radius-small !default;

$btn-link-color: $link-color !default;



// alert
$alert-font-weight: 400;
$alert-padding-y: .75rem !default;
$alert-padding-x: 1.25rem !default;
$alert-margin-bottom: .5rem !default;
$alert-font-family: $font-family-base !default;
$alert-font-size: $font-size-base !default;
$alert-description-font-size: $font-size-base * .875 !default;
$alert-line-height: $line-height-base !default;
$alert-border-radius: $border-radius !default;

// alert success
$alert-success-background: $green !default;

// alert info
$alert-info-background: $blue !default;

// alert warning
$alert-warning-background: $orange !default;

// alert error
$alert-error-background: $red !default;